{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
  <meta charset="utf-8" />
  <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'partials/metadata.html.twig' %}

  <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
  <link rel="canonical" href="{{ page.url(true, true) }}" />

  {% block stylesheets %}
    {% do assets.addCss('https://fonts.googleapis.com/css?family=Oxygen|Rufina', 9) %}
    {% do assets.addCss('theme://css/main.css', 2) %}
  {% endblock %}
  {{ assets.css() }}

  {% block javascripts %}
    {% do assets.add('theme://js/sticky-nav.js') %}
    {% do assets.add('theme://js/single-page-nav.js', {'loading':'async', 'group':'bottom'}) %}
    {% do assets.add('theme://js/smooth-scroll.js', {'loading':'async', 'group':'bottom'}) %}
    {% do assets.add('theme://js/toggle-nav.js', {'loading':'async', 'group':'bottom'}) %}
  {% endblock %}

{% endblock head %}
</head>
<body id="top" class="{{ page.header.body_classes }}">

  {{ assets.js() }}
{% block header %}
  <header class="header">
    <div class="header__wrapper">
      <nav class="container nav">
        <a class="logo left" href="{{ base_url == '' ? '/' : base_url }}">
          {% block header_title %}
            <h1>{{ config.site.title }}</h1>
          {% endblock %}
        </a>

        <div class="nav__toggle">
          <svg class="nav__closer" width="28" height="28" viewBox="0 0 28 28">
            <title>Close</title>
            <g stroke="#107BAE" stroke-width="4" fill="none" fill-rule="evenodd" stroke-linecap="square">
              <path d="M3 24.932L24.932 3M3 3l21.932 21.932"/>
            </g>
          </svg>
          <svg class="nav__opener" width="28" height="28" viewBox="0 0 28 28">
            <title>Open</title>
            <g stroke="#107BAE" stroke-width="4" fill="none" fill-rule="evenodd" stroke-linecap="square">
              <path d="M0 3 L28 3M0 14 L28 14M0 25 L28 25"/>
            </g>
          </svg>
        </div>

        {% block header_navigation %}
          {% set home = page.find('/') %}
          {% for module in home.collection %}
            {% if module.header.visible %}
              {% set current_module = (module.active or module.activeChild) ? 'active' : '' %}
              <a class="nav__a {{ current_module }}" href="/#{{ _self.pageLinkName(module.menu) }}">{{ module.menu }}</a>
            {% endif  %}
          {% endfor %}

          {% for page in pages.children.visible %}
            {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
            <a class="nav__a {{ current_page }}" href="{{ page.url }}">{{ page.menu }}</a>
          {% endfor %}
        {% endblock %}
      </nav>
    </div>
  </header>
{% endblock %}

{% block body %}
  {% block content %}
    {{ page.content }}
    {% for module in page.collection() %}
      <div id="{{ _self.pageLinkName(module.menu) }}"></div>
      {{ module.content }}
    {% endfor %}
  {% endblock %}
{% endblock %}

{% block footer %}
  <footer class="footer">
    <div class="container">
      <p>
        Alle afbeeldingen op deze site zijn artistieke impressies en zijn niet bindend.
      </p>
      <p>
        <small>Website door <a href="https://www.stans.be/">www.stans.be</a></small>
      </p>
    </div>
  </footer>
{% endblock %}

{% block bottom %}
  {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
